<hr/>
<div class="row" id="copyright_zone">
  <h3>Design and code by NGUYEN Lucile My Linh &#169; Copyright 2015 - All rights reserved.</h3>
</div>
<hr/>
<div id="footer_zone">
  <div class="row">
    <div class="col-md-10 col-md-push-1" style="text-align:center">
      <h4>About Mininous and NGUYEN Lucile My-Linh</h4>
    </div>
  </div>
  <div class="row">
    <div id="footer_zone_1" class="col-md-3 col-md-push-1">
      <p>
        <i class="glyphicon glyphicon-question-sign tiny orange"></i> What is Mininous?</p>
      <p>
        <i class="glyphicon glyphicon-question-sign tiny orange"></i> What does Mininous stand for?</p>
      <p>
        <i class="glyphicon glyphicon-heart tiny orange"></i>
        <a href="" onclick="newWindow('underConstruction.php')">How can you support Mininous's project</a>
      </p>
    </div>

    <div style="text-align:center" id="footer_zone_2" class="col-md-3 col-md-push-2">
      <p>
        <img src="assets/images/facebook.png" height="25px" /> Facebook</p>
      <p>
        <img src="assets/images/Youtube.png" height="25px" /> YouTube</p>
      <p>
        <img src="assets/images/twitter.png" height="25px" /> Twitter</p>
    </div>

    <div style="text-align:right" id="footer_zone_3" class="col-md-3 col-md-push-2">
      <p>
        <i class="glyphicon glyphicon-info-sign tiny orange"></i>
        <a href="underConstruction.php">Who am I?</a>
      </p>
      <p>
        <i class="glyphicon glyphicon-envelope tiny orange"></i>
        <a href="" onclick="newWindow('https://3diceberg.wordpress.com/contact')">Contact me</a>
      </p>
      <p>
        <i class="glyphicon glyphicon-heart tiny orange"></i>
        <a href="https://3diceberg.wordpress.com"> 3DIceberg</a>
      </p>
    </div>
  </div>
</div>