<div class="row" id="nav_bar">
  <div class="col-md-2 col-md-push-2">
    <a routerLink="/inventory">
      <div class="nav-icon" id="icon1"></div>
      <h2 class="nav-text">Inventory</h2>
    </a>
  </div>
  <div class="col-md-2 col-md-push-2">
    <a routerLink="/games">
      <div class="nav-icon" id="icon2"></div>
      <h2 class="nav-text orange">Games</h2>
    </a>
  </div>
  <div class="col-md-2 col-md-push-2">
    <a routerLink="/coloring">
      <div class="nav-icon" id="icon3"></div>
      <h2 class="nav-text red">Coloring</h2>
    </a>
  </div>
  <div class="col-md-2 col-md-push-2">
    <a routerLink="/learning">
      <div class="nav-icon" id="icon4"></div>
      <h2 class="nav-text green">Studying</h2>
    </a>
  </div>
  <div class="col-md-2 col-md-push-2">
    <a routerLink="/stories">
      <div class="nav-icon" id="icon5"></div>
      <h2 class="nav-text blue">Stories</h2>
    </a>
  </div>
</div>