#games_page {
  background-color: #66ccff;
  text-align: center;
  display: block;
}

.theme {
  height: 200px;
}

.img-circle {
  border-radius: 50%;
}

.horizontal-animate {
  position: relative;
  animation: horizontalmove 6s;
}

.page-title {
  margin: 0 auto 0;
  padding: 0 auto 0;
  height: 120px;
  text-align: center;
}

.page-title > h2 {
  text-align: center;
  padding-top: 70px;
}

.title-orange {
  background: url(../../assets/images/bigTitleOrange.png) 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  height: 80px;
  text-align: center;
  background: #66ccff url(../../assets/images/nuageTitre.png) 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px;
}

.title > h2,
.title > h3 {
  text-align: center;
  padding-top: 20px;
}

#boxMsg {
  position: absolute;
  top: 860px;
  margin: 25%;
  width: 50%;
  background: #ff9933 url(../../assets/images/balloonPinkS.png) 100% no-repeat;
  text-align: center;
  border: 1px solid #cc6633;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
