#memory_board {
  width: 860px;
  height: 650px;
  border: 1px solid white;
  background-color: #99ccff;
  padding: 30px;
  margin: auto;
}

#memory_board > div {
  text-align: left;
  margin: 10px;
  float: left;
}

#memory_board > div > img {
  text-align: center;
  position: absolute;
  border: 1px solid #cc6633;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.back-card {
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.3s linear 0s;
}

.front-card {
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.3s linear 0s;
}

.front-flip {
  transform: perspective(600px) rotateY(0deg);
}

.back-flip {
  transform: perspective(600px) rotateY(-180deg);
}

.flip3D_L,
.flip3D_L > img {
  height: 244px;
  width: 244px;
}

.flip3D_M,
.flip3D_M > img {
  height: 178px;
  width: 178px;
}

.flip3D_S,
.flip3D_S > img {
  height: 111px;
  width: 111px;
}

#memory_board > div > .back-card {
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.3s linear 0s;
}

#memory_board > div > .front-card {
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.3s linear 0s;
}
